body {
border-bottom: 2px solid lightgray;
border-right: 2px solid lightgray;
border-left: 2px solid lightgray;
}

.flexcolumns {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;
}

div .ptext {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
/* header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 99.7%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: mediumaquamarine;
  border-top: 1px solid lightgray;
}

header nav a {
  color: black;
}

nav span {
  display: inline-block;
  justify-content: flex-end;
  padding: 20px 10px;
  flex-grow: 1;
}

.science {
  margin-right: 40px;
}

.logo {
  display: flex;
  padding-left: 30px;
  flex-grow: 1;
}

.wlogo {
  display: flex;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 4px;
}

/* first column */

.column {
  display: flex;
}

div.large {
  width: 630px;
}



div .phishpic {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-top: 25px;
}

div .camera {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  margin-left: 30px;
}

div .falltrees {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
}

.try {
  display: flex;
  justify-content: space-between;
}

.picm {
  margin: 100px 0px 100px 0px
}

/* second column */

.secondcolumn {
  flex-direction: column;
}

div .medium {
  width: 300px;
}

div .evilcat {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 300px;
}

/* third column */

div.small {
  width: 240px;
}

.thirdcolumn {
  flex-direction: column;
  margin-right: 20px;
}

img .x {
  width: 240px;
}
